@charset "utf-8";
/* CSS Document */

.top-margin
{
	padding-top:10%;
	
}
    .checkbox {
    opacity: 0;
    position: absolute;
}
form .label, #label_img .label {
    background: url(http://i.imgur.com/mW6xr2I.png);
    text-indent: -999em;
    border: 10px solid white;
    width: 56px;
    height: 56px;
    display: block;
    float: left;
    margin: 10px;
}
form input[type="checkbox"]:checked + label, #label_img input[type="checkbox"]:checked + label {
    border: 1px solid orange;
}

#btn{
    width: 110px!important;
}
#select_all,#save_btn{
    width: 165px;
}
.std_menu_btn, .custom_menu_btn, .home_menu_btn,.std_menu_btn_1, .custom_menu_btn_1, .home_menu_btn_1,.std_menu_btn_2, .custom_menu_btn_2, .home_menu_btn_2{
    width: 80%!important;
}
.navbar{
	margin-bottom: 0;
}

.lunch_btn, .am_snack_btn{
	margin-left: 80px;
}
.pm_snack_btn{
	margin-left: 65px;
}
textarea#notes{
    width: 235px;
    height: 150px;
}
#send_child_file{
    margin-top: 10px;
}
.notes .col-lg-8 input[type=button]{
    width: 241px;
}
.notes .col-lg-4 input[type=button]{
    width: 106px;
}
.images_list img{
    width:80px;
    height:60px;
    margin-top: 10px;
}
.border {
    border: 6px solid #D8D8D8;
    background: url(upload/check.jpg);
}
.selected {
    border: 6px solid green;
}
.hidden {
    display:none;
}
.profile img{
    width: 150px;
    height: 100px;
}
.images_list form input[type=file]{
    display: none;
}
#save_assess{
    width: 25%;
}
#assess_textarea{
    height: 150px;
}
.borderless>tbody>tr>td,.borderless>thead>tr>th{
    border-top:none!important;
}

td>#time{
    width: 100px!important;
}
td>.one,td>.two{
    width: 80px!important;
}
.half{
    width:50%;
}
#one_three{
    width: 150px;
    height: 100px;
}
img#one_of_three{
    width: 200px;
    height: 150px;
    margin-left: 40px;
    margin-top: 20px;
}
textarea#h_text{

    height:100px;
}
p#date_p{
    font-weight: bold!important;
    text-decoration: underline!important;
}
.cal .row{
    margin-top: 50px;
}
ul#parent_name li{
    list-style-type: none;
}
ul#parent_name li a:hover{
    text-decoration: none;
}
a.admin_btn{
    width: 106px;
}

form#admin_family_edit_form input[type=text]{
    margin-top: 5px;
}
form#admin_children_edit_form input[type=text]{
    margin-top: 5px;
}
td input[type=date]{
    width:100px;
}
div#parent_bill_amount{
    width: 170px;
    height: 170px;
    background: royalblue;
}
div#parent_bill_amount h4{
    color: white;
    padding-top: 50px;
}
p#parent_bill_desc{
    margin-top: 30%;
}
#parent_past_due_invoices, #parent_notifications{
    background: lightslategrey;
    text-align: center;
    color: white;
    border-radius: 10px;
}
#parent_past_due_invoices h3, #parent_notifications h3{
    padding:10px;
}
button#add_contact{
    width: 60%;
}
.family_new .row{
    margin-top: 10px;
}

.t_able input{
    width: 120px;
}
.allergies div.col-lg-6 button{
    margin-top: 20px;
    width: 106px;
}
.immunization div.col-lg-6 button,.immunization div.col-lg-3 button{
    margin-top: 20px;
    width: 106px;
}
.admin_employee_contact{
    margin-top: 50px!important;
}
#admin_report{
    list-style-type: none;
    margin-top: 50px;
}
.admin_bill{
    background: royalblue;
    
}
.admin_bill h3{
    color: white;
    padding-top: 30px;
}